@use './variables' as v;

@mixin phone($inital-point: v.$phone){
    @media (min-width: $inital-point) {
        @content;
    }
}

@mixin tablet($inital-point: v.$tablet){
    @media (min-width: $inital-point) {
        @content;
    }
}

@mixin desktop($inital-point: v.$desktop){
    @media (min-width: $inital-point) {
        @content;
    }
}

@mixin desktopXl($inital-point: v.$desktopXl){
    @media (min-width: $inital-point) {
        @content;
    }
}

@mixin container{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columns: 1, $gap: 3rem){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin listFormater{
    padding: 0;
    list-style: none;
    margin: 0;
    color: inherit;
}