@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    background-color: v.$black;
    // allow fixed navigation in big screens
    &.fixed{
        @include m.tablet{
            position: fixed;
            box-shadow: 1rem 0 1rem lighten(v.$black, 80%);
            width: 100%;
            left: 0;
            top: 0;
            z-index: 20;
            animation: showNav 300ms ease-in-out;
        }
    }
    
    .header-content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        @include m.tablet(){
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            column-gap: 5rem;
            padding: 4rem;
        }
    }

    h1{
        color: v.$white;
        margin-bottom: 0;
        text-align: center;
        @include m.tablet(){
            text-align: left;
        }
    }
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 3rem;

    @include m.tablet(){
        column-gap: 2.5rem;
        margin-top: 0;
    }
    a{
        color: v.$white;
        font-size: 2rem;
        font-weight: bold;
        border-bottom: 3px solid v.$pink;
        padding-bottom: 5px;

        &:hover{
            color: v.$yellow;
        }
    }


}


@keyframes showNav {
    0%{
        transform: translateY(-20vh);
    }
    100%{
        transform: translateY(0);
    }
    
}